.register-page {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.register-overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
}

.register-card {
  background: rgba(24, 24, 27, 0.9);
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  color: white;
  backdrop-filter: blur(10px);
}

.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* LOGO */
.register-logo {
  height: 40px;  
  width: auto;
  object-fit: contain;
  margin-bottom: 20px;

  /* agar tajam */
  image-rendering: -webkit-optimize-contrast;
}

/* TEXT MASUK */
.register-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  color: white;
}

/* SUBTITLE */
.subtitle {
  font-size: 14px;
  color: #aaa;
  margin-top: 5px;
  text-align: center;
}

/* title */
.title {
  text-align: center;
  margin-top: 10px;
}

.subtitle {
  text-align: center;
  color: #aaa;
}

/* input */
.input-group {
  margin-top: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* link */
.login-link {
  margin-top: 10px;
  font-size: 14px;
}

.login-link a {
  color: #22c55e;
  text-decoration: none;
}

/* button */
.btn-daftar {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #374151;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

/* divider */
.divider {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* google */
.btn-google {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #555;
  border-radius: 20px;
  color: white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
